root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

# WinGet manifests must use CRLF line endings
[template/Freelensapp*]
end_of_line = crlf
